
  <% @categories.each do |group| %>

    <a href="#<%=group.first.title%>" class="nav-header collapsed list-group-item"  data-toggle="collapse"><%= group.first.title %></a>
    <ul id="<%=group.first.title%>" class="nav nav-list collapse ">

    <% group.last.each do |sub_category| %>
         <a href="<%= category_path(sub_category) %>" class="text-decoration:none">
     	<li class="list-group-item" style="height:50px"><%= sub_category.title %></li></a>

     <% end %>
    </ul>
  <% end %>
